.idk1 {
  color: #5863e3;
  font-family: Helvetica;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 144px;
  margin-top: 57px;
}

.idk2 {
  color: #000;
  font-family: Helvetica;
  font-size: 49px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 144px;
  margin-top: 7px;
}

textarea {
  width: 756px;
  height: 298px;
  border: 2px solid rgba(212, 211, 211, 0.3);
  background: #f8f8f8;
  margin-left: 144px;
  margin-top: 57px;
}

.idk3 {
  margin-top: 57px;
}
input {
  margin-top: 20px;
  color: #99999a;
  font-family: Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 370px;
  height: 59px;
  border: 2px solid rgba(212, 211, 211, 0.3);
  background: #f8f8f8;
  flex-direction: column;
  margin-left: 20px;
}

button {
  background: #5968f4;
  width: 370px;
  height: 59px;
  color: #fbfbff;
  font-family: Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 20px;
  margin-left: 20px;
}

.box {
  display: flex;
}

.box2 {
  display: flex;
  flex-direction: column;
}

.logos {
  background-color: #5968f4;
  width: 68px;
  height: 68px;
  border-radius: 50%;
}

#firsticon {
  scale: 1.5;
  padding: 25px;
}

.logosbox {
  margin-top: 51px;
  display: flex;
  justify-content: space-around;
}

.text {
  display: flex;
  flex-direction: column;
  width: 190px;
}

h2 {
  color: #4e4d54;
  font-family: Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 10px;
}

p {
  color: #99999a;
  font-family: Helvetica;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: -25px;
}

.p1 {
  margin-left: -40px;
}

.idk5 {
  color: #5863e3;
  font-family: Helvetica;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 144px;
  margin-top: 57px;
  margin-top: 124px;
}

.idk6 {
  color: #000;
  font-family: Helvetica;
  font-size: 49px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 7px;
  margin-left: 144px;
}

.idk7 {
  display: flex;
  justify-content: space-around;
  margin-top: 53px;
}

.idk8 {
  width: 100%;
  max-width: 2000px;
  margin-top: 39px;
  height: 372px;
  background: #000;
  display: flex;
  justify-content: space-evenly;
}

h5 {
  color: #fff;
  font-family: Helvetica;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 23px;
}

h3 {
  color: #99999a;
  font-family: Helvetica;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 27px;
}

.idk9 {
  width: 295px;
  row-gap: 23px;
}

.idk10 {
  color: #000;
}

.second{
  display: flex;
  flex-direction: column;
}


.a-ebi{
  font-family: Arial, Helvetica, sans-serif; 
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: #5863E3;
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.black{
  margin-bottom: 32px;
  color: white;
  font-family: Arial, Helvetica, sans-serif; 
  font-size: 21px;
  font-weight: 400;
  line-height: 24px;
}

.fourth > div{
  display: flex;
  gap: 4px;
  margin-bottom: 19px;
}

#icon1,#icon2,#icon3{
  display: flex;
  color: #5863E3;
  gap: 4px;
  margin-right: 30px;
}

.bolo {
  height: 300px;
}

@media screen and (width:768px) {
  .box{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .logosbox{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 100px;
  }

  .idk6{
    vertical-align: center;
  }

  .idk7{
    display: flex;
    flex-direction: column;
    scale: 0.7;
    margin-top: -220px;
    row-gap: 60px;
  }

  .idk9{
    margin-left: 72.5px;
  }
}


@media screen and (width<=1115px) {
  .idk7{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  .ww {
    width: 373px;
    height: 373px;
  }

}

@media screen and (width<=700px) {
  .logosbox{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .logos{
    margin-top: 100px;
  }
}

@media screen and (width<=590px) {
  .idk8 {
    height: 1000px;
    flex-direction: column;
  }
  .idk9,.second,.third,.rimdim {
    margin-left: 200px;
  }
}

@media screen and (width<=540px) {
  .idk8 {
    width: 150%;
  }

  .idk7 {
    margin-left: 120px;
  }
}

